body{
    font-family: 'STIX Two Text', serif;
    background-image: url("/img/thumbnail.jpg");

}
form{
    width: 200px;
    height: 200px;
    background-color:rgba(114, 104, 211, 0.8);
    display: inline-table;
    margin-top: 20px;
    margin-left: 30px;
   
}

label{
    margin: 40px;
    padding-bottom: 4px;
}
input[text]{
    width: 125px;
    margin: 24px;
    padding: 5px; 
}
#amont{
    width: 125px;
    margin: 24px;
    padding: 5px; 
}
table, th, td {
    border: 1px solid white;
    background-color: black;
    color:white;

  }
  table{
      margin-top: 30px;
      margin-left:50px;
      width: 400px;}

  #pernt{

    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 90px;
    background-color:rgba(114, 104, 211, 0.8);
    display: inline-table;
  }
  #stiem{
    width: 125px;
    margin: 24px;
    padding: 5px; 
    background-color: black;
    color: white;
}
  #citem{
      background-color: white;
      color: black;
      margin-top: 100px;
      margin-left: 220px;
  }